In [23]:
import pandas as pd

url= "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

df= pd.read_excel(url)

In [ ]:
df.info()
#columna 14 en adelante borrar datos no importantes
#Name, Time, Source, Unnamed, datos no necesarios
#Age tipo int
#Categoricas: Genre, Species,Activity, type,Country,State, Location

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6977 entries, 0 to 6976
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6976 non-null   object
 1   Year            6974 non-null   float64
 2   Type            6958 non-null   object
 3   Country         6926 non-null   object
 4   State           6494 non-null   object
 5   Location        6411 non-null   object
 6   Activity        6390 non-null   object
 7   Name            6756 non-null   object
 8   Sex             6397 non-null   object
 9   Age             3981 non-null   object
 10  Injury          6941 non-null   object
 11  Unnamed: 11     6414 non-null   object
 12  Time            3450 non-null   object
 13  Species         3844 non-null   object
 14  Source          6957 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [ ]:
df.Sex.unique()
#Chequear tipo para hacer limpieza

array([nan, 'M', 'F', ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [ ]:
df.Year.describe()

#chequear min y max improbables. Limpiar para el estudio, luego de la primer limpieza se va a sacar los cuartiles para decidir y abarcar la mayoria de datos

count    6974.000000
mean     1934.814740
std       272.361424
min         0.000000
25%      1947.000000
50%      1985.000000
75%      2009.000000
max      2026.000000
Name: Year, dtype: float64

In [ ]:
df.Year.unique()

In [25]:
dfshort=df.rename(columns={df.columns[n]:df.columns[n].strip().replace(" ","_").lower() for n in range(len(df.columns))})
dfshort.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'unnamed:_11', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [26]:
dfshort[['date', 'year', 'type', 'country', 'state', 'location', 'activity', 'sex', 'age', 'injury', 'species']]

,date,year,type,country,state,location,activity,sex,age,injury,species
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-01 00:00:00,2024.0,Unprovoked,Hawaii,Maui,Sand Piles Waiehu Beach Park,Surfing,M,61,Right leg severted below knee,Not stated
2,2024-10-31 00:00:00,2024.0,Unprovoked,Australia,Queensland,Whitsunday Islands,Snorkeling,F,57,30cm (1ft) bite to lower calf,Reported as a large Tiger shark
3,2024-10-25 00:00:00,2024.0,Unprovoked,USA,Florida,"Bathtub Beach, Martin County",Surfing,M,27,Both feet bitten,Bull or tiger 7-8ft
4,2024-10-14 00:00:00,2024.0,Unprovoked,Honduras,Tela,Atlantida,Swimming,M,38,Back and thigh extensive tissue loss,Bull shark
...,...,...,...,...,...,...,...,...,...,...,...
6972,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,NaN
6973,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,NaN
6974,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,NaN
6975,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,FATAL,NaN
6976,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN

In [ ]:
dfshort.species.unique() #Determinar si nos sirve o no

array([nan, 'Not stated', 'Reported as a large Tiger shark', ...,
       "12' tiger shark", 'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)